@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-19 19:48:31
 * @version $Id$
 */

body {
    background-color: lightgrey;
    height: 100%;
}

#droptarget {
    background-color: white;
    font-family: Arial;
    width: 500px;
    height: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}

#status {
    padding: 10px;
    color: grey;
}

.highlighted {
    border-color: green;
}

.validtarget {
    border-color: darkgrey;
}

#preview {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}

.obj {
    width: 500px;
    height: auto;
    border-radius: 2em;
}
